/* 
--- Typography system ---
    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    FONT WEIGHTS
    default: 400
    medium:500
    semi-bold:600
    bold:700

    LINE HEIGHTS
    default: 1
    medium: 1.2
    paragraph: 1.5

    LETTER SPACING:
    -0.5px
    0.75px

--- Colors ---
    Primary: #e67e22
    Tints: #fdf2e9
    Shades: #cf711f
    Accents:
    Greys: #555, #333
    font: #333, #fff, #ced4da

--- Shadows---

--- Border radius---
    default: 9px

--- White spaces---
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/* ************************ */
/* General components */
/* ************************ */
.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    row-gap: 8rem;
    column-gap: 4.8rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr)
}
.grid--3-cols{
    grid-template-columns: repeat(3, 1fr)
}
.grid--4-cols {
    grid-template-columns: repeat(4, 1fr)
}

.grid--center-v {
    align-items: center;
}

.hero-heading, .heading-secondary {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}

.hero-heading {
    font-size: 5.2rem;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 6.4rem;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    letter-spacing: 0.75px;
}

.btn:link, .btn:visited {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: 500;

    transition: background-color 0.3s;
}

.btn--cta:link, .btn--cta:visited {
    background-color: #e67e22;
}

.btn--cta:hover, .btn--cta:active {
    background-color: #cf711f;
}

.btn--outline:link, .btn--outline:visited {
    background-color: #fff;
    color: #555;
}

.btn--outline:hover, .btn--outline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}